.container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  position: fixed;

  width: 50%;
  background-color: white;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));

  border-radius: 14px;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;

  .main {
    text-align: center;
    padding: 1rem;
    cursor: default;

    .heading {
      font-size: 24px;
      font-weight: 600;
    }

    .description {
      margin-top: 10px;
    }

    .image {
      display: flex;

      justify-content: center;
      align-items: center;
      .hoverImage {
        visibility: hidden;
        opacity: 0;
        width: 130px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 2px 0;
        transition: opacity 0.3s ease-in-out;
        left: 58%;

        position: absolute;

        z-index: 1;
      }
      .uploadImage {
        width: 15%;

        margin: 10% 0;
        cursor: pointer;
      }

      &:hover {
        .hoverImage {
          opacity: 0.8;
          visibility: visible;
        }
      }
    }

    .form {
      text-align: left;
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      input {
        border-radius: 6px;
        padding: 0.8em 2em 0.8em 1em;
        font-size: 1em;
        margin-top: 5px;
      }
    }

    .guidelines {
      margin: 10px 0 0 5px;
      font-size: 12px;
      color: gray;
      text-align: left;

      span {
        color: rgb(28, 28, 232);
        cursor: pointer;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(242, 243, 245, 255);
    padding: 10px 20px;
    align-items: center;
    margin-top: 5px;

    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    .text {
      font-size: 12;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 916px) {
    width: 70%;

    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  }

  @media screen and (max-width: 450px) {
    width: 90%;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
