.serverbar {
  display: flex;
  background-color: #f2f3f5;
  justify-content: space-evenly;

  align-items: center;
  width: 100%;

  border: 1px solid rgba(255, 255, 255, 0.18);

  .centerbar {
    display: flex;
    width: 50%;
    align-items: center;

    @media screen and (max-width: 850px) {
      width: 80%;
      align-items: center;
    }
    .caraousel {
      display: flex;
      align-items: center;
      justify-content: center;

      .addserver {
        background-color: #e3e0ef;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        margin-top: 4px;
        cursor: pointer;
      }
    }
  }

  .leftbar {
    display: flex;
    align-items: center;

    @media screen and (max-width: 850px) {
      display: none;
    }

    img {
      height: 40px;
      margin-left: 20px;
      border-radius: 50%;
      border: 2px solid #1877f2;
      cursor: pointer;
    }
  }

  .rec-item-wrapper {
    width: auto !important;
  }
}
