.serverbar {
  display: flex;
  background-color: #f2f3f5;
  justify-content: space-evenly;

  align-items: center;
  width: 100%;

  border: 1px solid rgba(255, 255, 255, 0.18);

  .centerbar {
    display: flex;
    width: 50%;
    align-items: center;

    .server {
      margin-right: 20px;
    }
  }

  .leftbar {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      margin-left: 20px;
      border-radius: 50%;
      border: 2px solid #1877f2;
    }
  }
}
